{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
{{!-- File Upload> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>

<script>
    $('#fileAvatar').fileinput({
        theme: 'fa',
        allowedFileExtensions: ['jpg', 'png'],
        dropZoneEnabled: false,
    });
</script>
{{!-- < File Upload --}} <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
    </script>
    <script>
        function checkEmail(email) {
            if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                return true;

            } else {
                return false;
            }
        }

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();

            const name = $('#txtName').val();
            const email = $('#txtEmail').val();

            if (checkEmail(email) === false) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid email',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (name.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalid Name',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Change successfully',
                    showConfirmButton: false,
                    timer: 1000
                }).then(function () {
                    $('#frmEdit').off('submit').submit();
                });

            }
        })
    </script>
    {{!-- Firebase-Storage --}}
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-storage.js"></script>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCPiohcfxfeYf5hSRaFgcNYtaWPGys_-Ao",
            authDomain: "tinmuser.firebaseapp.com",
            databaseURL: "https://tinmuser-default-rtdb.firebaseio.com",
            projectId: "tinmuser",
            storageBucket: "tinmuser.appspot.com",
            messagingSenderId: "963218315977",
            appId: "1:963218315977:web:4e1475ccbcb065110e4b18"
        };
        firebase.initializeApp(firebaseConfig);
        console.log(firebase);

        function uploadImage() {
            const ref = firebase.storage().ref();

            const image_file = document.querySelector("#fileAvatar").files[0];

            const fname = Date.now() + '-' + image_file.name;

            const metadata = {
                contentType: image_file.type
            }

            const task = ref.child("images/avatars/" + fname).put(image_file, metadata);
            task
                .then(snapshot => snapshot.ref.getDownloadURL())
                .then(url => {
                    console.log(url);
                    $("#txtAvatar").val(url);
                    alert("Image Upload success !!");
                })
        }
    </script>
    {{/section}}

    <div class="card">
        <div class="card-header">
            <h4>New User's File</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="fileAvatar">Avatar</label>
                <input type="file" class="form-control-file" id="fileAvatar" name="avatar">
            </div>
            <button class="btn btn-success" onclick="uploadImage()">
                <i class="fa fa-check" aria-hidden="true"></i>
                Upload Image
            </button>
        </div>
    </div>
    <form id="frmEdit" method="POST" action="">
        <div class="card">
            <div class="card-header">
                <h4>User</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtID">#</label>
                    <input type="text" class="form-control" id="txtID" name="id" readonly value="{{this.user.id}}">
                </div>
                <input type="hidden" name="avatar" id="txtAvatar">

                <div class="form-group">
                    <label>Preview Avatar</label> <br>
                    <img style="width: 200px;" src="{{this.user.imageURL}}" alt="no preview image found">
                </div>
                <input type="hidden" value="{{this.user.imageURL}}" name="previewAvatar">

                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}"
                        readonly>
                </div>

                <div class="form-group">
                    <label for="txtName">UserName</label>
                    <input type="text" class="form-control" id="txtName" name="name" value="{{this.user.userName}}">
                </div>

            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/admin/users" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </form>